<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didispace.mybatis.a_user.A_USER_Mapper">

    <resultMap id="singleUser" type="com.didispace.mybatis.a_user.A_USER">
        <result column="ID" property="id" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="OTHER_NAME" property="other_name" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="ADDR" property="addr" jdbcType="VARCHAR"/>
        <result column="IDENTITY_CODE" property="identity_code" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="create_time" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="update_time" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUserById" resultMap="singleUser" parameterType="String" >
        select * from a_user e
        <where>
            <if test="id != null  and id !='' ">
                and e.id = #{id}
            </if>
            <if test="id == null or id =='' ">
                and rownum &lt; 10
            </if>
        </where>
    </select>

    <select id="selectUserByName" resultMap="singleUser" parameterType="String" >
        select * from a_user e
        <where>
            <if test="name !=null and name !='' ">
                and e.name = #{name}
            </if>
             <if test="name ==null or name =='' ">
                and rownum &lt; 10
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.didispace.mybatis.a_user.A_USER">
        insert into SYSTEM.A_USER(id,name,other_name,phone,addr,identity_code)
        values (a_user_id.nextval,#{user.name,jdbcType=VARCHAR},#{user.other_name,jdbcType=VARCHAR},#{user.phone,jdbcType=VARCHAR},#{user.addr,jdbcType=VARCHAR},#{user.identity_code,jdbcType=VARCHAR})
    </insert>

    <!-- 分页公共头语句-->
    <sql id="pageHead">
        select * from(
            select t.*, rownum-1 list from (
    </sql>

    <!-- 分页公共尾语句-->
    <sql id="pageTail">
         ) t) m
        where m.list &lt; #{page.max,jdbcType=INTEGER}
          and m.list &gt;= #{page.min,jdbcType=INTEGER}
    </sql>

    <!-- 直接使用 java 对象来映射表  ,分页查询  user 表-->
    <select id="getAllUser" resultType="com.didispace.mybatis.a_user.A_USER" parameterType="com.didispace.mybatis.pageInfo.Page" >
        <include refid="pageHead"/>
        select * from a_user e order by e.CREATE_TIME desc
        <include refid="pageTail"/>
    </select>

    <!-- 获取  user 表   总数据条数 -->
    <select id="getCountNum" resultType="INTEGER">
        select count(*) from a_user
    </select>

    <delete id="deleteUserById" parameterType="String">
        delete a_user e where e.id = #{id}
    </delete>







</mapper>
