<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理界面</title>

    <link th:href="@{/static/css/bootstrap-combined.min.css}" rel="stylesheet" />
    <link th:href="@{/static/css/layoutit.css}" rel="stylesheet" />

</head>
<body>
<!--  从可视化布局粘贴出来的代码  start-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">JackZhanG</a>
                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#">用户管理</a>
                                </li>
                                <li>
                                    <a href="#">聊天室</a>
                                </li>
                                <li>
                                    <a href="#">流量监控</a>
                                </li>

                            </ul>
                            <ul class="nav pull-right">
                                <li>
                                    <a href="#">个人信息</a>
                                </li>
                                <li class="divider-vertical">
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">设置<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">下拉导航1</a>
                                        </li>
                                        <li>
                                            <a href="#">下拉导航2</a>
                                        </li>
                                        <li>
                                            <a href="#">其他</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">链接3</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="userAlert" class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>警告!</strong> 请注意你的个人隐私安全.
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <form class="form-search" action="/queryUser">
                        <input id="searchId" name="searchId" class="input-medium search-query" type="text" />
                        <button type="submit" class="btn">查询</button>
                    </form>
                    <div class="btn-group">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn">新增</button>
                            <button type="button" class="btn">删除</button>
                            <button type="button" class="btn">导入</button>
                        </div>
                    </div>
                    <p>

                    </p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>简称</th>
                            <th>电话</th>
                            <th>地址</th>
                            <th>身份证</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <div th:each="user,stat:${userList}">
                            <tr th:class="${stat.odd}?'':'success'">
                                <td th:text="${stat.index}+1"></td>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.other_name}"></td>
                                <td th:text="${user.phone}"></td>
                                <td th:text="${user.addr}"></td>
                                <td th:text="${user.identity_code}"></td>
                                <td th:text="${user.create_time}"></td>
                                <td th:text="${user.update_time}"></td>
                                <td><a th:href="@{/delete(id=${user.id})}"><button type="button" class="btn btn-info btn-xs">删除</button></a></td>
                            </tr>
                        </div>
                        <!--
                            <tr th:class="${stat.odd}?'':'success'">
                            若需要多种颜色，则使用取模操作
                            <tr th:class="${stat.index%2 == 0}?'':'success'">
                        -->


                        <!--<th th:text="${stat.index}">状态变量：index</th>
                        <th th:text="${stat.count}">状态变量：count</th>
                        <th th:text="${stat.size}">状态变量：size</th>
                        <th th:text="${stat.current.userName}">状态变量：current</th>
                        <th th:text="${stat.even}">状态变量：even****</th>
                        <th th:text="${stat.odd}">状态变量：odd</th>
                        <th th:text="${stat.first}">状态变量：first</th>
                        <th th:text="${stat.last}">状态变量：last</th>-->

                        <!--<tr class="success">-->
                        <!--<tr class="error">-->
                        <!--<tr class="warning">-->
                        <!--<tr class="info">-->
                        </tbody>
                    </table>

                    <!--对某个具体的值判断-->
                    <div th:if="${totalPage gt 0}"  class="pagination">
                        <ul>
                            <li>
                                <!--若是第一页，  上一页指向第一页-->
                                <a th:href="@{/queryPageUser/}+${pageIndex-1 <= 0 ? 0 : pageIndex -1 }">上一页</a>
                            </li>

                            <!--中间页-->
                            <li th:each="pageNum:${#numbers.sequence(min,max)}"  th:class="${pageNum eq pageIndex}?'page-item active'">
                                <a th:text="${pageNum+1}" th:href="@{/queryPageUser/}+${pageNum}"></a>
                            </li>

                            <li>
                                <!--若是最后一页，  下一页指向最后一页-->
                                <a th:href="@{/queryPageUser/}+${pageIndex+1 >= totalPage ? totalPage - 1:pageIndex + 1}">下一页</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--  从可视化布局粘贴出来的代码  end-->
<script type="text/javascript" th:src="@{/static/js/jquery-2.0.0.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-ui.js}"></script>

<script type="text/javascript">
    $(function(){
        /*hide alert div*/
        $("#userAlert").addClass("hide");



    });
</script>

</body>
</html>