<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户图片上传界面</title>
    <script src="/static/js/common_head.js"></script>

</head>
<body>
<!--  从可视化布局粘贴出来的代码  start-->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span4">
                </div>
                <div class="span4">
                    <div id = "showImage" >
                        已存在图片预览：
                        <image id="oldImage"/>
                        <br/>
                        本次上传图片预览：
                        <image id="showFile"/>
                    </div>
                    <form class="form-search form-inline" method="post" enctype="multipart/form-data" action="/uploadImage">
                        请选择图片：
                        <input id="file" class="input-lg search-query" type="file" name="file"/>
                        <button id="upload" class="btn btn-block btn-default" type="submit">上传</button>
                        <input id="user_id" type="hidden" name="user_id" th:value="${id}"/>
                    </form>
                </div>
                <div class="span4">
                </div>
            </div>
        </div>
    </div>
</div>


<!--  从可视化布局粘贴出来的代码  end-->
<script src="/static/js/common_footer.js"></script>

<script type="text/javascript">
    $(function(){
        //上传图片时展示图片
        $("#file").on("change",function (data) {
            //Chrome浏览器的写法，   不考虑其他浏览器
            $('#showFile').attr("src",window.URL.createObjectURL($(this)[0].files.item(0)));
        });

        //反显数据库保存的图片
        var userId = $("#user_id").val();
        if(userId!=""){
            $("#oldImage").attr("src","/getImage/"+userId);
        }



    });
</script>

</body>
</html>