<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didispace.mybatis.a_user.A_USER_Mapper">

    <resultMap id="singleUser" type="com.didispace.mybatis.a_user.A_USER">
        <result column="ID" property="id" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="OTHER_NAME" property="other_name" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="ADDR" property="addr" jdbcType="VARCHAR"/>
        <result column="IDENTITY_CODE" property="identity_code" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="create_time" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="update_time" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectUserById" resultMap="singleUser" parameterType="String" >
        select * from a_user e
        <where>
            <if test="id != null  and id !='' ">
                and e.id = #{id}
            </if>
            <if test="id == null or id =='' ">
                and rownum &lt; 10
            </if>
        </where>
    </select>

    <select id="selectUserByName" resultMap="singleUser" parameterType="String" >
        select * from a_user e
        <where>
            <if test="name !=null and name !='' ">
                and e.name = #{name}
            </if>
             <if test="name ==null or name =='' ">
                and rownum &lt; 10
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.didispace.mybatis.a_user.A_USER">
        insert into SYSTEM.A_USER(id,name,other_name,phone,addr,identity_code)
        values (a_user_id.nextval,#{user.name},#{user.other_name},#{user.phone},#{user.addr},#{user.identity_code})
    </insert>

</mapper>
