<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
    <script src="/static/js/common_head.js"></script>
</head>
<body>
<!--  从可视化布局粘贴出来的代码  start-->
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span10">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="/main" class="brand">JackZhanG</a>
                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <ul class="nav">
                                <li id="userManage">
                                    <a href="#">用户管理</a>

                                </li>
                                <li>
                                    <a href="#">链接</a>
                                </li>
                                <li>
                                    <a href="#">链接</a>
                                </li>

                            </ul>
                            <ul class="nav pull-right">
                                <li>
                                    <a href="#">右边链接</a>
                                </li>
                                <li class="divider-vertical">
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row-fluid">
                <div class="span12">
                    <!---子菜单处理 start -->
                    <div class="row-fluid">
                        <div id="subMenu" class="span12" th:fragment="subMenu">
                            <ul  th:class="${userManage_ret == null }?'hide':'breadcrumb'">
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <li th:each="menu,stat:${subMenu}">
                                    <a th:id="${menu.menu_id}" href="#" th:text="${menu.menu_text}"></a>
                                    <!--最后一个子菜单后，不显示斜线-->
                                    <span class="divider" th:if="${stat.last == false}">/</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!---子菜单  end -->

                    <!--iframe 嵌入 HTML 显示-->
                    <iframe id="container"  frameborder="0" width="100%"  height="1000" scrolling="auto"></iframe>

                </div>
            </div>

        </div>

    </div>
</div>

<!--  从可视化布局粘贴出来的代码  end-->
<script src="/static/js/common_footer.js"></script>
<script type="text/javascript">
    $(function(){

        //点击用户管理时
        $('#userManage').on('click',function(){
            //加载子菜单
            $('#subMenu').load("/subMenu/M001");

            //记录用户操作
            report_data("testUser","request /userManage/subMenu","click ,load subMenu");

            $('#userManage').addClass('active');
        });

        //由于是 js 动态生成的 子菜单 <a>标签，  需要使用这种方式才能添加click 事件
        $("body").on('click','#M001_A001',function(){
            $("#container").attr("src","/user_register_html")
        });

        $("body").on('click','#M001_A002',function(){
            $("#container").attr("src","/userPage")
        });
    });
</script>

</body>
</html>