<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>异常提醒</title>
	<script src="/static/js/common_head.js"></script>
</head>
<body>
<!--  从可视化布局粘贴出来的代码  start-->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>警告!</strong>
						<!--/*@thymesVar id="shortMsg" type="string"*/-->
						<p th:text="${shortMsg}"></p>
					</div>
					<div class="hero-unit">

						<!--/*@thymesVar id="exception" type="string"*/-->
						<p th:text="${exception}"></p>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  从可视化布局粘贴出来的代码  end-->
<script src="/static/js/common_footer.js"></script>
</body>
</html>