<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"/>
	<title>项目实战</title>
	<link rel="stylesheet"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet"  th:href="@{/static/css/style.css}"/>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a th:href="@{index}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
				<li><a th:href="@{information}" ><span class="glyphicon glyphicon-list"></span> 资讯</a></li>
				<li><a th:href="@{case_}" ><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
				<li><a th:href="@{about}" ><span class="glyphicon glyphicon-question-sign"></span> 关于</a></li>
				<li><a th:href="@{about.html}" th:if ="${hasLogon eq 'true'}">退出</a></li>
				<li><a th:href="@{register}" th:if ="${hasLogon eq 'false'}"> 注册|登录</a></li>
				<li><a th:href="@{employees}" ><span class="glyphicon glyphicon-search"></span> 雇员</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<hgroup>
			<h1>雇员管理</h1>
			<h4>oracle的hr介绍...</h4>
		</hgroup>
	</div>
</div>





<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs">
				<div class="list-group">
					<a class="list-group-item" href="#1">1.雇员查询</a>
					<a class="list-group-item" href="#2">2.加入我们</a>
					<a class="list-group-item" href="#3">3.联系方式</a>
				</div>
			</div>
			<div class="col-md-9 about">
			
						<form class="form-horizontal myform" method="get" th:action="@{getEmployees}"> 
							<div class="form-group"> 
								<label class="col-sm-2 control-label">雇员名</label> 
								<div class="col-sm-8"> 
											<input type="text" class="form-control" placeholder="请输 入雇员号" name="employeeID"/> 
								</div> 
							</div>
							
							<div class="form-group">
							 	<div class="col-sm-3"></div> 
							 	<div class="col-sm-3" ><button class="btn btn-primary " type="submit">查询</button></div> 
							 	<div class="col-sm-3"></div> 
							 	<div class="col-sm-3" ></div> 
							</div>
							 
						</form>
						
						
						<table class="table table-bordered">
						    <tr>
						        <th>EMPLOYEE_ID</th>
						        <th>FIRST_NAME</th>
						        <th>EMAIL</th>
						        <th>PHONE_NUMBER</th>
						        <th>HIRE_DATE</th>
						        <th>JOB_ID</th>
						        <th>SALARY</th>
						        <th>COMMISSION_PCT</th>
						        <th>MANAGER_ID</th>
						        <th>DEPARTMENT_ID</th>
						    </tr>
						    <tr th:each="book:${employees}">
						        <td th:text="${book.employeeID}"></td>
						        <td th:text="${book.firstName}"></td>
						        <td th:text="${book.email}"></td>
						        <td th:text="${book.phoneNumber}"></td>
						        <td th:text="${book.hireDate}"></td>
						        <td th:text="${book.jobID}"></td>
						        <td th:text="${book.salary}"></td>
						        <td th:text="${book.commissionPct}"></td>
						        <td th:text="${book.managerID}"></td>
						        <td th:text="${book.departmentID}"></td>
						    </tr>
						</table>
						
						<ul class="pagination"> 
							<li><a href="#">&laquo;</a></li> 
							<li><a href="#">1</a></li> 
							<li><a href="#">2</a></li> 
							<li><a href="#">3</a></li> 
							<li><a href="#">4</a></li> 
							<li><a href="#">5</a></li> 
							<li><a href="#">&raquo;</a></li> 
						</ul>
				
			</div>
		</div>
	</div>
</div>

<footer id="footer">
	<div class="container">
		<p>企业管理 | 合作事宜 | 版权投诉</p>
		<p>XXXXX. © 2019-10-01. Powered by Bootstrap.</p>
	</div>
</footer>


<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript">

</script>
</body>
</html>